<html>
<body>
    <div class="login">
        <h1>Student Exam Performance Indicator</h1>

        <from action="{{url_for('predict_datapoint')}}" method="post">
            <h1>
                <legend>Student Exam Performance Indicator</legend>
            </h1>
            <div class="mb-3">
                <label class="from-label">Gender</label>
                <select class="from-control name="gender" placeholder="Enter your Gender" required>
                    <option class="placeholder" selected disabled value="">Select Gender</option>
                    <option value ="male">
                        Male
                    
                    </option>
                    <option value ="female">
                        Female
                    
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="from-label">Race or Ethnicity</label>
                <select class="from-control" name="Ethnicity" placeholder="Enter your Ethnicity" required>
                    <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                    <option value ="group A">
                        Group A
                    </option>
                    <option value ="group B">
                        Group B
                    </option>
                    <option value ="group C">
                        Group C
                    </option>
                    <option value ="group D">
                        Group D
                    </option>
                    <option value ="group E">
                        Group E
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="from-label">Parental Level of Education</label>
                <select class="from-control" name="parental_level_of_education" placeholder="Enter your Parental Level of Education" required>
                <option class="placeholder" selected disabled value="">Select Parental Education</option>
                <option value ="associate's degree">
                    Associate's Degree
                </option>
                <option value ="bachelor's degree">
                    Bachelor's Degree
                </option>
                <option value ="high school">
                    High School
                </option>
                <option value ="master's degree">
                    Master's Degree
                </option>
                <option value ="some college">
                    Some College
                </option>
                <option value ="some high school">
                    Some High School
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="from-label">Lunch</label>
            <select class="from-control" name="lunch" placeholder="Enter your Lunch" required>
                <option class="placeholder" selected disabled value="">Select Lunch</option>
                <option value ="free/reduced">
                    Free/Reduced
                </option>
                <option value ="standard">
                    Standard
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="from-label">Test Preparation Course</label>
            <select class="from-control" name="test_preparation_course" placeholder="Enter your Test Preparation Course" required>
                <option class="placeholder" selected disabled value="">Select Test Preparation Course</option>
                <option value ="none">
                    None
                </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="from-label">Writing Score out of 100</label>
            <input class="From-control" type="number" name="reading_score" placeholder="Enter your Reading Score" min="0" max="100/>
        </div>
        <div class="mb-3">
                <label class="from-label">Writing Score out of 100</label>
                <input class="From-control" type="number" name="math_score" placeholder="Enter your Math Score" min="0" max="100/>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="predict your Maths Score" required />
        </div>
    </form>
    <h2>
        The prediction is {{results}}
    </h2>
    <body>
</html>